@page "/counter"
@inject IJsAlertifyService JsAlertifyService
@using Initiation.Client.Services.Js
@using Initiation.Client.Helpers


<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<UpDownCounter Counter="@currentCount" CounterChanged="@CounterChangedFiredEvent"></UpDownCounter>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;

        if (currentCount > 5)
        {
            await JsAlertifyService.Open($"Le nombre est {currentCount}", TypeAlertify.Success);
        }

    }

    void CounterChangedFiredEvent(int counter)
    {
        currentCount = counter;
        StateHasChanged();
    }
}
